



.tbl
{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border: 2px solid blueviolet;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    background-color: rgba(205, 176, 214, 0.897);
    
}

.Taskname
{
    margin: 2px;
    border:1px solid rgb(163, 192, 163);
     font-weight: 900;
    border-radius: 4px;
    background-color: rgba(29, 252, 21, 0);
    width: 800px;
    color:rgba(218, 66, 182, 0.904);
 
     text-align: center;
    box-sizing: border-box;
}

.input
{
  width: 50%;  
}

.add-task
{
    margin-left: 10%;

    margin-top: 10px;
    align-items: center;
}
.btn{
    background-color: blueviolet;
   
}
.xx
{
    background-color: blueviolet;
    border-radius: 5px;
}



.tbd
{
    background-color:white;
    border-radius: 9px;
    width: 80%;

}